* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea, a {
  font-family: inherit;
  color: inherit;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  cursor: pointer;
  background: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

::-webkit-scrollbar {
  width: 0;
  height: 0;
}

body, html {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1;
  color: #5b5b5b;
  width: 100%;
  height: 100%;
}

.bg-image {
  position: absolute;
  z-index: -1;
}
.bg-image img {
  border-radius: 0 0 54px 54px;
}

.container {
  max-width: 1376px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  font-weight: 600;
  font-size: 32px;
  color: #161414;
}

.card__title {
  font-weight: 500;
  font-size: 16px;
  color: #161414;
}

.card__desc {
  font-weight: 400;
  font-size: 13px;
  color: #979797;
}

.header {
  padding-top: 30px;
}

.header__body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: start;
}

.nav ul {
  display: flex;
  align-items: center;
  gap: 54px;
}
.nav ul a {
  text-transform: capitalize;
  color: #fff;
  transition: opacity 0.1s ease-in;
}
.nav ul a:hover {
  opacity: 0.9;
}

.nav-item.active {
  opacity: 0.8;
}

.user {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #fff;
}

.user-text {
  display: block;
}
.user-text .user-hello {
  width: 42px;
  opacity: 0.5;
  margin-left: 54px;
}

.user-avatar {
  position: relative;
}
.user-avatar::after {
  content: "";
  position: absolute;
  border-radius: 100%;
  width: 12px;
  height: 12px;
  top: 0;
  right: 0;
  background-color: #FF0000;
}

.promo {
  padding-top: 183px;
}

.promo__body {
  display: grid;
  justify-items: center;
  gap: 32px;
}

.promo__title {
  font-weight: 600;
  font-size: 48px;
  line-height: 129%;
  color: #fff;
}

.promo__btn {
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
}
.promo__btn p {
  width: 193px;
}

.search {
  margin-top: 184px;
  margin-bottom: 100px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  background-color: #fff;
}
.search__theme {
  display: block;
  align-items: start;
}

.search-item {
  display: flex;
  align-items: center;
  gap: 19px;
  min-width: 254px;
  padding: 16px 20px;
}

.search__theme p {
  font-weight: 300;
  font-size: 14px;
  line-height: 114%;
  color: #5b5b5b;
}
.search__theme span {
  font-weight: 500;
  font-size: 16px;
  color: #161414;
}

.button {
  border-radius: 12px;
  border: 0;
  padding: 24px;
  background: #7b61ff;
  cursor: pointer;
  transition: background 0.09s ease-in;
}
.button:hover {
  background: #8067ff;
}
.button .search__btn {
  padding: 18px;
}

.popular {
  margin-top: 120px;
}

.block__title {
  margin-bottom: 64px;
}

.popular__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.popular__card {
  display: grid;
}

.popular__card img {
  margin-bottom: 8px;
}

.card__title {
  margin-bottom: 6px;
}

.hotels {
  margin-top: 120px;
}

.block__title-view {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 64px;
}
.block__title-view .block__title {
  margin: 0;
}

.view-all {
  display: flex;
  align-items: center;
  gap: 7px;
  color: #5243c2;
  padding: 10px;
  background: #f6f4ff;
}
.view-all:hover {
  background: #f2eff9;
}

.hotels__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hotels__card {
  display: grid;
  width: 320px;
}

.hotels__card img {
  margin-bottom: 10px;
}

.card__title {
  margin-bottom: 16px;
}

.hotels__place {
  display: flex;
  align-items: flex-end;
}

.card__desc {
  display: flex;
  align-items: center;
  gap: 4px;
}

.card__rate {
  margin-left: auto;
}

.travel {
  padding-top: 120px;
}

.travel__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}

.travel__card {
  display: flex;
}

.card__right {
  margin-left: 32px;
  width: 320px;
}

.travel-card__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 30px;
  color: #161414;
  height: 30px;
}

.travel-card__desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  color: #5b5b5b;
  height: 300px;
  margin-top: 16px;
}

.travel__rate {
  display: flex;
  align-items: center;
  gap: 24px;
  font-weight: 400;
  font-size: 12px;
  color: #878787;
  margin-top: 16px;
}
.travel__rate .date,
.travel__rate .username,
.travel__rate .comments {
  display: flex;
  align-items: center;
  gap: 4px;
}

.activities {
  padding-top: 120px;
}

.activities__cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activities__card .activities-img {
  margin-bottom: 16px;
}
.activities__card span {
  font-weight: 500;
  font-size: 16px;
  color: #161414;
}

.about {
  padding-top: 120px;
}
.about .container {
  padding-left: 116px;
  padding-right: 116px;
}

.about-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.block-left {
  line-height: 2;
  max-width: 556px;
}
.block-left p, .block-left .view-all {
  margin-top: 32px;
}

.footer {
  padding-top: 120px;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
}

.footer-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 120px 0 120px 0;
}

.footer-desc {
  max-width: 354px;
}
.footer-desc p {
  margin-top: 16px;
}

.socials {
  margin-top: 32px;
}
.socials .facebook, .socials .twitter {
  margin-right: 32px;
}

.footer-nav {
  display: flex;
  align-items: center;
  gap: 64px;
}
.footer-nav__item {
  margin-bottom: 12px;
}
.footer-nav li:hover {
  opacity: 0.8;
}

.footer-nav__title, .footer__title {
  font-weight: 500;
  font-size: 18px;
  color: #161414;
  margin-bottom: 20px;
}

.subscribe {
  max-width: 388px;
}

.form__button {
  padding: 26px;
  width: 72px;
  height: 72px;
}

.form {
  background: #fff;
  box-shadow: 0 17px 42px 0 rgba(0, 0, 0, 0.2);
  border-radius: 12px;
  height: 72px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: box-shadow 0.3s ease-in;
}
.form--active {
  box-shadow: 0 17px 42px 0 rgba(123, 97, 255, 0.3);
}

.form__label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
  padding-left: 54px;
  height: 100%;
}
.form__label::before {
  position: absolute;
  top: 27px;
  left: 18px;
  content: "";
  display: block;
  width: 20px;
  height: 18px;
  background-image: url("./../img/icons/mail.svg");
  background-size: initial;
  background-repeat: no-repeat;
  opacity: 0.7;
}

.form__input {
  flex-grow: 1;
  margin-right: 16px;
}
.form__input::-moz-placeholder {
  color: #BBBBBB;
}
.form__input::placeholder {
  color: #BBBBBB;
}