.header {
    padding-top: 30px;
}

.header__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: start;
}

.nav ul {
    display: flex;
    align-items: center;
    gap: 54px;
    
    a {
        text-transform: capitalize;
        color: #fff;
        transition: opacity .1s ease-in;

        &:hover {
            opacity: .9;
        }
    }
}

.nav-item.active {
    opacity: .8;
}

.user {
    display: flex;
    align-items: center;
    gap: 8px;
}

.user-text {
    display: block;

    .user-hello {
        width: 42px;
        opacity: .5;
        margin-left: 54px;
    }

    .user-name {
        color: #fff;
    }
}

.user-avatar {
    position: relative;

    &::after {
        content: "";
        position: absolute;
        border-radius: 100%;
        width: 12px;
        height: 12px;
        top: 0;
        right: 0;
        background-color: #FF0000;
    }
}

