body, html {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1;
    color: #5b5b5b;
    width: 100%;
    height: 100%;
}

.bg-image {
  position: absolute;
  z-index: -1;
  & img {
    border-radius: 0 0 54px 54px;
  }
}

.container {
    max-width: 1376px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.title {
    font-weight: 600;
    font-size: 32px;
    color: #161414;
}

.card__title {
    font-weight: 500;
    font-size: 16px;
    color: #161414;
}

.card__desc {
    font-weight: 400;
    font-size: 13px;
    color: #979797;
}